:root {
    --very-dark-blue: 220, 13%, 13%;
    --orange: 26, 100%, 55%;
    --pale-orange: 25, 100%, 94%;
    --very-dark-blue: 220, 13%, 13%;
    --dark-grayish-blue: 219, 9%, 45%;
    --grayish-blue: 220, 14%, 75%;
    --light-grayish-blue: 223, 64%, 98%;
    --white: 4, 0%, 100%;
    --black: 0, 0%, 0%;
}

body {
    font-family: "Kumbh Sans", sans-serif;
    font-size: 1rem;
}

.gallery {
    display: none;
}


.nav-links {
    visibility: hidden;
    background-color: hsl(var(--white));
    width: 70vw;
    height: 100vh;
    padding: 2rem;
    z-index: 11;
    margin: 0;
    top:0;
    left:0;
    position: absolute;
    transition: visibility;
    transition-timing-function: ease-in-out;
}

.logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links>img {
    margin-bottom: 3rem;
    cursor: pointer;
}

.nav-links li {
    padding: 0.8rem 0;

}

.nav-links>ul>li>a:hover {

    color: hsl(var(--orange))
}

#avatar {
    width: 1.5rem;
    height: 1.5rem;
    transition: transform 0.5s ease-in;
}
#avatar:hover {
    transform: scale(1.10);
}


#sneakers-logo {
    width: 9.0rem;
    height: 1.3rem;
}
#menu-icon {
    width: 1.1rem;
    height: 1.0rem;
}
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 1rem;
}

.header img {
    margin: 0 0.5rem;
    cursor: pointer;
}

hr {
    display: none;
    }

.nav-cart {
    background-color: white;
    position: absolute;
    z-index: 99;
    width: 315px;
    /* max-width: 350px; */
    /* height: 200px; */
    top: 5rem;
    right: 1rem;
    /* border: 1px solid black; */
    border-radius: 5px;
    box-shadow: 0px 10px 10px -2px rgba(0,0,0,0.19);
}

.nav-cart h3 {
    margin: 1rem 1.5rem;
}
.nav-cart-items {
    margin-top: 1rem;
    border-top: 1px solid black;
    padding: 1rem 0;
    /* height: 70%; */
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.single-item {
    max-width: 300px;
}

.cart-item {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    text-align: start;
    color: darkgray;
}
.cart-item b {
    color: black;
}

.cart-item button {
    margin-left: 10px;
}

.nav-cart-items>button {
    width: 85%;
    height: 3.0rem;
    margin: 0.6rem 0;
    border: none;
    background-color: hsl(var(--orange));
    color: white;
    font-size: 1rem;
    border-radius: 10px;

}

#icon-dl {
    width:1rem;
    height:1rem;
    margin-top: 0.5rem;
}

.nav-cart-items img {
    width: 2.5rem;
    height: 2.5rem;
}

/* Image Slider */

.image-slider {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 2rem auto;
}

.slider-nav {
    position: absolute;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    top: 10rem;
    z-index: 10;
}

.slider-nav button {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    border: none;
    box-shadow: none;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-nav>button>img {
    width: 0.8rem;
    height: 0.8rem;
}

.image-slider img {
    width: 100vw;
    height: 18rem;
}

/* Description */

.description {
    width: 85vw;
    margin: 0 auto;
}

.description h1 {
    font-size: 1.7rem;
}

#brand-name {
    color: hsl(var(--orange));
    font-weight: 700;
    font-size: 0.8rem;
    margin: 0 auto 0.5rem;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
}

#product-description {
    margin: 1rem 0;
    color: gray;
}

/* pricing section */

.price-section {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#original-price {
    text-decoration: line-through;
}

.price-section:last-child {
    font-size: 1rem;
    color: gray;
}

.discount {
    min-width: 10rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.discount:first-child {
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
    color: black;
}

#discount-price {
    background-color: hsl(var(--pale-orange));
    padding: 0.2rem 0.4rem;
    font-size: 1rem;
    color: hsl(var(--orange))
}

/* cart */

.cart-items {
    display: flex;
    width: 85vw;
    height: 3rem;
    background: #e9e9ed;
    margin: 1rem auto;
    border-radius: 0.5rem;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
}

.cart-items img {
    font-size: 1.8rem;
    margin: 1rem;
}

.addToCart {
    width: 85vw;
    height: 3rem;
    margin: 1rem auto 2rem;
    text-align: center;
}

.addToCart button {
    background-color: hsl(var(--orange));
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 10px;
    font-size: 1.0rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    box-shadow: 0px 10px 10px -2px rgba(0,0,0,0.19);

}

.addToCart>button>img {
    margin: 0 15px;
    width: 1.5rem;
    height: 1.5rem;
    color: white;
}


/* start desktop version */

@media screen and (min-width: 500px) {

    .image-slider img {
        height: 23rem
    }
}

@media screen and (min-width: 700px) {

    .image-slider img {
        height: 28rem
    }
}

@media screen and (min-width: 900px) {
    #menu-icon {
        display: none;
    }

    .header {
        max-width: 80vw;
        margin: 1.5rem auto 1rem;
    }

    #toggle-menu {
        display: none;
    }

    .nav-links {
        position: static;
        visibility: visible;
        background-color: none;
        background-color: white;
        height: 1rem;
        display: flex;
        flex-direction: row;
    }
    .nav-links>ul {
        display: flex;
        min-width: 25rem;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .nav-links li {
        color: #e9e9ed;
    }
    hr {
        display: block;
        border: 1px solid #e9e9ed;
        width: 80vw;
        margin: 0 auto;
    }

    .image-slider img {
        max-width: 320px;
        max-height: 20rem;
        border-radius: 1rem;
        margin: 0;
    }

    .image-slider button {
        display: none;
    }

    .product-container {
        width: 800px;
        margin: 4rem auto;
        display: flex;
        flex-direction: row;
    }

    .cart {
        width: 400px;
        padding: 5rem 1rem;
    }

    .price-section {
        max-width: 200px;
    }
    .cart-items, .addToCart {
        max-width: 300px;
    }

    #product-description {
        max-width: 400px;
    }

    .slider-nav {
        display: block;

    }
    .description h1 {
        font-size: 2.5rem;
        max-width: 400px;
    }
    .price-section {
        flex-direction: column;
        align-items: flex-start;
    }

    .cart-items {
        width: 120px;
        margin-left: 0;
    }

    .addToCart {
        width: 220px;
    }
    .add-items {
        display: flex;
    }

    .gallery {
        display: block;
        min-width: 350px;
    }
    .gallery img {
        height:60px;
        width: 60px;
        margin: 0 1rem;

    }
    .images {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .nav-cart {
        top: 5.5rem;
        right: 6rem;
    }
}
